:root {
  /* Containers */
  --container-sm: 75ch;
  --container-md: 778px;
  --container-lg: 940px;

  /* Color */
  --blocks-color-accent-1: #fefeff;
  --blocks-color-accent-2: #eef4fa;
  --blocks-color-accent-3: #d4e5f3;
  --blocks-color-accent-4: #bad5ec;
  --blocks-color-accent-5: #a1c5e5;
  --blocks-color-accent-6: #97bfe3;
  --blocks-color-accent-7: #3a85ca;
  --blocks-color-accent-8: #004d93;
  --blocks-color-accent-9: #0062BA;
  --blocks-color-accent-10: #005099;
  --blocks-color-accent-11: #003d75;
  --blocks-color-accent-12: #0163ba;
  --blocks-color-accent-13: #00315c;
  --blocks-color-accent-contrast-1: #fefeff;
  --blocks-color-accent-contrast-2: #dbe9f5;
  --blocks-color-neutral-1: #fefefe;
  --blocks-color-neutral-2: #f3f4f5;
  --blocks-color-neutral-3: #e1e3e5;
  --blocks-color-neutral-4: #ced1d4;
  --blocks-color-neutral-5: #bdc1c6;
  --blocks-color-neutral-6: #b8bcc1;
  --blocks-color-neutral-7: #7a818c;
  --blocks-color-neutral-8: #444e5d;
  --blocks-color-neutral-9: #1E2B3C;
  --blocks-color-neutral-10: #303c4b;
  --blocks-color-neutral-11: #444e5d;
  --blocks-color-neutral-12: #5b6471;
  --blocks-color-neutral-13: #243142;
  --blocks-color-neutral-contrast-1: #fefefe;
  --blocks-color-neutral-contrast-2: #bbbfc4;
  --blocks-color-brand1-1: #fffefe;
  --blocks-color-brand1-2: #fef0f1;
  --blocks-color-brand1-3: #fcdadb;
  --blocks-color-brand1-4: #fbc4c5;
  --blocks-color-brand1-5: #f9adaf;
  --blocks-color-brand1-6: #f9a5a7;
  --blocks-color-brand1-7: #d95558;
  --blocks-color-brand1-8: #843336;
  --blocks-color-brand1-9: #F45F63;
  --blocks-color-brand1-10: #d15155;
  --blocks-color-brand1-11: #b04447;
  --blocks-color-brand1-12: #a84144;
  --blocks-color-brand1-13: #522021;
  --blocks-color-brand1-contrast-1: #000000;
  --blocks-color-brand1-contrast-2: #000000;
  --blocks-color-brand2-1: #fffefc;
  --blocks-color-brand2-2: #fbf3e0;
  --blocks-color-brand2-3: #f5dfac;
  --blocks-color-brand2-4: #f0ce7e;
  --blocks-color-brand2-5: #eaba4a;
  --blocks-color-brand2-6: #e8b338;
  --blocks-color-brand2-7: #a57a17;
  --blocks-color-brand2-8: #634a0e;
  --blocks-color-brand2-9: #E5AA20;
  --blocks-color-brand2-10: #c9951c;
  --blocks-color-brand2-11: #ae8118;
  --blocks-color-brand2-12: #7e5d12;
  --blocks-color-brand2-13: #3d2e09;
  --blocks-color-brand2-contrast-1: #000000;
  --blocks-color-brand2-contrast-2: #2b2006;
  --blocks-color-brand3-1: #fdfeff;
  --blocks-color-brand3-2: #eaf6fe;
  --blocks-color-brand3-3: #c8e6fd;
  --blocks-color-brand3-4: #a9d7fb;
  --blocks-color-brand3-5: #84c7fa;
  --blocks-color-brand3-6: #7ac2f9;
  --blocks-color-brand3-7: #1a85d6;
  --blocks-color-brand3-8: #105082;
  --blocks-color-brand3-9: #1E98F5;
  --blocks-color-brand3-10: #1a83d3;
  --blocks-color-brand3-11: #166eb2;
  --blocks-color-brand3-12: #1466a5;
  --blocks-color-brand3-13: #0a3251;
  --blocks-color-brand3-contrast-1: #000000;
  --blocks-color-brand3-contrast-2: #010407;
}
