:root {
  /* Containers */
  --blocks-container-sm: 75ch;
  --blocks-container-md: 778px;
  --blocks-container-lg: 940px;

  /* Spacing mobile */
  --blocks-spacing-sm: 10px;
  --blocks-spacing-md: 10px;
  --blocks-spacing-lg: 20px;
  --blocks-spacing-xl: 40px;
  --blocks-spacing-xxl: 40px;
}

@media (width > 620px) {

  :root {
    /* Spacing desktop */
    --blocks-spacing-sm: 10px;
    --blocks-spacing-md: 20px;
    --blocks-spacing-lg: 40px;
    --blocks-spacing-xl: 60px;
    --blocks-spacing-xxl: 80px;
  }
}
