.blocks {
  --blocks--row-gap: var(--blocks-spacing-md);
  --padding-inline: var(--blocks-spacing-md);
  --full: minmax(var(--padding-inline), 1fr);
  --content: min(var(--blocks-container-sm), 100% - var(--padding-inline) * 2);
  --breakout: minmax(0, calc((var(--blocks-container-md) - var(--blocks-container-sm)) ));
  --feature: minmax(0, calc((var(--blocks-container-lg) - var(--blocks-container-md)) / 2));

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [breakout-start] var(--breakout)
    [content-start] var(--content) [content-end]
    var(--breakout) [breakout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
  row-gap: var(--blocks--row-gap);
}

.blocks > * {
  grid-column: content;
}

.blocks-factbox {
  display: grid;
  grid-column: breakout;
  grid-template-columns: subgrid;

  > * {
    grid-column: content;
  }
}

@media only screen and (width < 840px) {

  .blocks > .blocks-factbox {
    grid-column: full;
  }
}

.blocks--gap-none {
  --blocks--row-gap: 0;
}

.blocks--gap-sm {
  --blocks--row-gap: var(--blocks-spacing-sm);
}

.blocks--gap-md {
  --blocks--row-gap: var(--blocks-spacing-md);
}

.blocks--gap-lg {
  --blocks--row-gap: var(--blocks-spacing-lg);
}

.blocks--gap-xl {
  --blocks--row-gap: var(--blocks-spacing-xl);
}

.blocks--gap-xxl {
  --blocks--row-gap: var(--blocks-spacing-xxl);
}
