.blocks-factbox {
  --blocks-factbox--background-color: var(--blocks-color-theme-background-subtle);
  --blocks-factbox--text-color: var(--blocks-color-neutral-text-default);
  --blocks-factbox--padding: var(--blocks-spacing-xxl);

  background-color: var(--blocks-factbox--background-color);
  color: var(--blocks-factbox--text-color);
  padding: var(--blocks-factbox--padding);
}

