.content-grid--gap-none {
  --content-grid--row-gap: 0;
}

.content-grid--gap-sm {
  --content-grid--row-gap: var(--blocks-spacing-sm);
}

.content-grid--gap-md {
  --content-grid--row-gap: var(--blocks-spacing-md);
}

.content-grid--gap-lg {
  --content-grid--row-gap: var(--blocks-spacing-lg);
}

.content-grid--gap-xl {
  --content-grid--row-gap: var(--blocks-spacing-xl);
}

.content-grid--gap-xxl {
  --content-grid--row-gap: var(--blocks-spacing-xxl);
}
