.blocks-card {
  --blocks-card--background-color: var(--color-theme-surface-default);
  --blocks-card--background-color-hover: var(--color-theme-surface-hover);
  --blocks-card--background-color-active: var(--color-theme-surface-active);
  --blocks-card--text-color: var(--color-theme-text-default, currentColor);
  --blocks-card--heading-color: var(--color-neutral-text-default, currentColor);
  --blocks-card--kicker-color: var(--color-accent-text-default, currentColor);
  --blocks-card--card-padding: 0;
  --blocks-card--body-padding: var(--blocks-spacing-md);
  --blocks-card--image-flex: 0 var(--blocks-card--image-flex-basis, 50%);
  --blocks-card--gap: 0;

  container-type: inline-size;

  .blocks-card--card {
    display: flex;
    gap: var(--blocks-card--gap);
    padding: var(--blocks-card--card-padding);
    flex-direction: var(--blocks-card--flex-direction, column);
    text-decoration: none;
    color: var(--blocks-card--text-color);
    background-color: var(--blocks-card--background-color);
    height: 100%;
    transition: 0.1s background-color;
  }

  small {
    color: var(--blocks-card--kicker-color);
  }

  h3 {
    color: var(--blocks-card--heading-color);
  }

  a.blocks-card--card:hover {
    --blocks-card--background-color: var(--blocks-card--background-color-hover);

    h3 {
      text-decoration: 2px solid underline;
    }
  }

  a.blocks-card--card:active {
    --blocks-card--background-color: var(--blocks-card--background-color-active);
  }

  .blocks-card--body {
    flex: 0 var(--blocks-card--body-flex-basis, 50%);
    align-content: space-around;
    padding: var(--blocks-card--body-padding);
  }

  .blocks-card--image {
    flex: var(--blocks-card--image-flex);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @supports selector(:has(+ *)) {
    /* If this is an image only card */
    .blocks-card--card:not(:has(.blocks-card--body)) {
      --blocks-card--image-flex: 1;
      --blocks-card--card-padding: 0;
    }
  }
}

/* Image positions for small cards (only supports vertical) */
.blocks-card--image-left,
.blocks-card--image-top {
  --blocks-card--flex-direction: column;
}

.blocks-card--image-right,
.blocks-card--image-bottom {
  --blocks-card--flex-direction: column-reverse;
}

/* Image positions for medium cards */
@container (min-width: 420px) {
  .blocks-card--card {
    --blocks-card--body-flex-basis: 66.666%;
    --blocks-card--image-flex-basis: 33.333%;
  }

  .blocks-card--image-right .blocks-card--card {
    --blocks-card--flex-direction: row-reverse;
  }

  .blocks-card--image-left .blocks-card--card {
    --blocks-card--flex-direction: row;
  }

  .blocks-card--image-top .blocks-card--card {
    --blocks-card--flex-direction: column;
  }

  .blocks-card--image-bottom .blocks-card--card {
    --blocks-card--flex-direction: column-reverse;
  }
}

/* Image positions for large cards (only supports horizontal) */
@container (min-width: 750px) {
  .blocks-card--image-bottom .blocks-card--card,
  .blocks-card--image-right .blocks-card--card {
    --blocks-card--flex-direction: row-reverse;
  }

  .blocks-card--image-top .blocks-card--card,
  .blocks-card--image-left .blocks-card--card {
    --blocks-card--flex-direction: row;
  }
}
