.blocks-accordion {
  --blocks-accordion--background-color: var(--color-theme-surface-default);
  --blocks-accordion--background-color-hover: var(--color-theme-surface-hover);
  --blocks-accordion--background-color-open: var(--color-theme-surface-hover);
  --blocks-accordion--text-color: var(--color-neutral-text-default);
  --blocks-accordion--padding: var(--blocks-spacing-sm) var(--blocks-spacing-md);
  --blocks-accordion--flow-space: var(--blocks-spacing-md);

  display: flex;
  flex-direction: column;

  details {
    background-color: var(--blocks-accordion--background-color);
    color: var(--blocks-accordion--text-color);
  }

  summary {
    padding: var(--blocks-accordion--padding);
    background-color: var(--blocks-accordion--background-color);
    transition: 0.1s background-color;

    &:hover {
      --blocks-accordion--background-color: var(--blocks-accordion--background-color-hover);
    }

    h1, h2, h3, h4, h5, h6 {
      display: inline;
    }
  }

  details[open] > summary {
    background-color: var(--blocks-accordion--background-color-open);
  }

  .blocks-accordion-item + .blocks-accordion-item {
    margin-top: var(--blocks-accordion--flow-space);
  }

  .blocks-accordion--text {
    padding: var(--blocks-accordion--padding);
  }
}
