.blocks-factbox {
  --blocks-factbox--background-color: var(--color-theme-background-subtle);
  --blocks-factbox--text-color: var(--color-neutral-text-default);
  --blocks-factbox--padding: var(--blocks-spacing-xl) 0;

  padding: var(--blocks-factbox--padding);
  background-color: var(--blocks-factbox--background-color);
  color: var(--blocks-factbox--text-color);

  &.content-grid--breakout {
    display: grid;
    grid-template-columns: subgrid;

    > * {
      grid-column: content;
    }
  }
}

@media only screen and (width < 840px) {

  .blocks-factbox.content-grid--breakout {
    grid-column: full;
  }
}
