.blocks-card {
  --blocks-card--flex-direction: column;
  --blocks-card--image-flex: 0 0 auto;
  --blocks-card--image-aspect-ratio: 16 / 9;
  --blocks-card--body-flex: 1 1 auto;
  --blocks-card--svg-width: 160px;
  --blocks-card--svg-padding: var(--ds-size-2);

  container-type: inline-size;

  > .ds-card:not([hidden]) {
    display: flex;
    flex-direction: var(--blocks-card--flex-direction);
    height: 100%;
  }

  > .ds-card > .blocks-card__image {
    display: flex;
    place-content: center center;
    flex: var(--blocks-card--image-flex);

    > img:not([src$=".svg"]) {
      height: 100%;
      object-fit: cover;
      aspect-ratio: var(--blocks-card--image-aspect-ratio);
    }

    > img[src$=".svg"] {
      width: var(--blocks-card--svg-width);
      padding: var(--blocks-card--svg-padding);
    }
  }

  > .ds-card > .ds-card__block:not(.blocks-card__image) {
    flex: var(--blocks-card--body-flex);
  }
}

/*
 * The image placement class is either set on the card itself, or on a wrapper (e.g. `.blocks-cards`)
 */

/* Image positions for small cards (only supports vertical) */

:is(.blocks-card--image-left, .blocks-card--image-left .blocks-card) > .ds-card,
:is(.blocks-card--image-top, .blocks-card--image-top .blocks-card) > .ds-card {
  --blocks-card--flex-direction: column;
}

:is(.blocks-card--image-right, .blocks-card--image-right .blocks-card) > .ds-card,
:is(.blocks-card--image-bottom, .blocks-card--image-bottom .blocks-card) > .ds-card {
  --blocks-card--flex-direction: column-reverse;
}

/* Image positions for medium cards */
@container (min-width: 420px) {

  :is(.blocks-card--image-left, .blocks-card--image-left .blocks-card) > .ds-card {
    --blocks-card--flex-direction: row;
    --blocks-card--image-aspect-ratio: 3 / 2;
    --blocks-card--image-flex: 0 0 33.333%;
  }

  :is(.blocks-card--image-right, .blocks-card--image-right .blocks-card) > .ds-card {
    --blocks-card--flex-direction: row-reverse;
    --blocks-card--image-aspect-ratio: 3 / 2;
    --blocks-card--image-flex: 0 0 33.333%;
  }
}

/* Image positions for large cards (only supports horizontal) */
@container (min-width: 750px) {

  :is(.blocks-card--image-left, .blocks-card--image-left .blocks-card) > .ds-card,
  :is(.blocks-card--image-top, .blocks-card--image-top .blocks-card) > .ds-card {
    --blocks-card--flex-direction: row;
    --blocks-card--image-aspect-ratio: 3 / 2;
    --blocks-card--image-flex: 0 0 300px;
  }

  :is(.blocks-card--image-right, .blocks-card--image-right .blocks-card) > .ds-card,
  :is(.blocks-card--image-bottom, .blocks-card--image-bottom .blocks-card) > .ds-card {
    --blocks-card--flex-direction: row-reverse;
    --blocks-card--image-aspect-ratio: 3 / 2;
    --blocks-card--image-flex: 0 0 300px;
  }
}
