.blocks {
  --blocks--padding-inline: var(--blocks-spacing-md);
  --blocks--full: minmax(var(--blocks--padding-inline), 1fr);
  --blocks--content: min(var(--blocks-container-sm), 100% - var(--blocks--padding-inline) * 2);
  --blocks--breakout: minmax(0, calc((var(--blocks-container-md) - var(--blocks-container-sm)) / 2));
  --blocks--wide: minmax(0, calc((var(--blocks-container-lg) - var(--blocks-container-md)) / 2));

  display: grid;
  grid-template-columns:
    [full-start] var(--blocks--full)
    [wide-start] var(--blocks--wide)
    [breakout-start] var(--blocks--breakout)
    [content-start] var(--blocks--content) [content-end]
    var(--blocks--breakout) [breakout-end]
    var(--blocks--wide) [wide-end]
    var(--blocks--full) [full-end];
  row-gap: var(--blocks--row-gap, var(--blocks-spacing-md));
}

.blocks > * {
  grid-column: var(--blocks--default-grid-column, content);
}

.blocks-factbox {
  display: grid;
  grid-column: var(--blocks--default-grid-column-factbox, breakout);
  grid-template-columns: subgrid;

  > * {
    grid-column: var(--blocks--default-grid-column, content);
  }
}

@media only screen and (width < 840px) {

  .blocks > .blocks-factbox {
    grid-column: full;
  }
}

