.html-area {
  font-size: var(--ds-body-md-font-size);
  font-weight: var(--ds-body-md-font-weight);
  line-height: var(--ds-body-md-line-height);
  letter-spacing: var(--ds-body-md-letter-spacing);

  &> * + * {
    margin-top: var(--flow-space, 1rem);
  }


  h2 {
    --flow-space: var(--ds-size-10);
  }

  p {
    --flow-space: 1rlh;
  }
}
