.blocks-accordion {
  --blocks-accordion--background-color: var(--blocks-color-theme-3);
  --blocks-accordion--background-color-hover: var(--blocks-color-theme-4);
  --blocks-accordion--background-color-open: var(--blocks-color-theme-4);
  --blocks-accordion--text-color: var(--blocks-color-theme-13, currentColor);
  --blocks-accordion--padding: var(--blocks-spacing-sm);
  --blocks-accordion--flow-space: var(--blocks-spacing-sm, 1.5rem);

  display: flex;
  flex-direction: column;

  details {
    background-color: var(--blocks-accordion--background-color);
  }

  summary {
    padding: var(--blocks-accordion--padding);
    background-color: var(--blocks-accordion--background-color);

    &:hover {
      --blocks-accordion--background-color: var(--blocks-accordion--background-color-hover);
    }

    h1, h2, h3, h4, h5, h6 {
      display: inline;
    }
  }

  details[open] > summary {
    background-color: var(--blocks-accordion--background-color-open);
  }

  .blocks-accordion-item + .blocks-accordion-item {
    margin-top: var(--blocks-accordion--flow-space);
  }

  .blocks-accordion--text {
    padding: var(--blocks-spacing-sm);
  }
}
